//----------------------------------------------------//
// VARIABLES                                          //
//----------------------------------------------------//
$mainFont: 'Open Sans', 'Arial', sans-serif; 
$mainFontSize: 16px;
$mainLineHeight: 1.2;
$mainFontWeight: 400;
$mainFontColor: #444444;
$green: #07af61;
$gray: #f3f3f3;
$orange: #f5a623;
$red: #ba2424;